
.main{
    margin-top: auto;
}
.post_container{
    display:flex;
    justify-content: space-around;
    margin-bottom:10px;
    
}
.post{
    
    display:flex;
    flex-direction: row;
    align-items: column;
    justify-content: center;
    height:100%;
    width:50%;
    border-radius: 15px;
    padding:20px 40px 10px 40px;

}
.post_heading{
    
    background-color: lightskyblue;
    border-radius:15px 0px 0px 15px;
    align-items:column;
    justify-content: center;
}

.post_content{
    
    margin:auto;
    border-radius:0px 15px 15px 0px;
    background-color:lightgrey;
}
p{
    font-size:15px;
    margin:auto;
    padding:10px;
}
i{
    float:right;
    padding:20px;
}
h6{
    margin:auto;
    padding: 10px;
}