*{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
}
body{

    background-image:url("../images/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color:blue;
}
#main{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
}
#post{
    background-color:rgb(247, 193, 17);
    color:black;
    padding:5px 10px 5px 10px;
    margin:10px;
}
#sign_in{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal-body{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal-header{
    color:rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}